<div class="border border-dark rounded backgroundWhite">
    <div class="row mt-2 ml-2 mr-2">
        <div class="col-6">
            <p><strong>Nome do Paciente:</strong> {{paciente_nome}}</p>
        </div>
        <div class="col-4">
            <p><strong>Leito: </strong> {{leito}}</p>
        </div>
    </div>
    <div class="row ml-2 mr-2">
        <div class="col-6">
            <p><strong>Decúbito Inicial: </strong> {{decubito}}</p>
        </div>
        <div class="col-4">
            <p><strong>Data do registro: </strong> {{data | date: 'shortDate':'z'}}</p>
        </div>
    </div>
</div>