<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <img src="../../../assets/cliente-sicredi.png" alt="Imagem de uma ferramenta" class="img-fluid mr-3" style="width: 50px;">
    <h5 class="my-0 mr-md-auto font-weight-normal">Voto de pautas</h5>
        <nav class="my-2 my-md-0 mr-md-3" >
            <a class="btn btn-info mr-2" [routerLink]="'/home'">Início</a>

            <button class="btn btn-success mr-2" [routerLink]="'/home/cad-pauta'">Cadastrar pauta </button>

            <button class="btn btn-success mr-2" [routerLink]="'/home/lista-pauta'">Lista de pautas </button>

            <button class="btn btn-warning" [routerLink]="'/home/voto'">Votar</button>
        </nav>
    
</div>